name: Go

on:
  push:
    paths:
      - '.github/workflows/go.yaml'
      - 'go/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.3
      - run: |
          cd go/mux
          go test
