name: Python

on:
  push:
    paths:
      - '.github/workflows/python.yaml'
      - 'python/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --requirement python/flask/requirements.txt
      - name: Test
        run: pytest